---
import PrimaryButton from "@components/ui/PrimaryButton.astro";
import { Icon } from "astro-icon/components";
---

<section>
  <h1>¿Listo para transformar tu práctica médica?</h1>
  <p>
    Marketing médico que respeta los códigos deontológicos y la ética
    profesional.
  </p>
  <PrimaryButton>
    <Icon name="mdi:register" />
    Registrarme
  </PrimaryButton>
</section>
