---
const services = [
  "Estrategia digital",
  "Gestión de redes",
  "Publicidad (Ads)",
  "Diseño web médico",
];

const legal = ["Términos y condiciones", "Política de privacidad", "Cookies"];
---

<footer>
  <h2>
    <span>Med</span>Advance
  </h2>

  <p>
    La agencia líder en marketing para profesionales de la salud. Transformamos
    conocimiento médico en autoridad digital.
  </p>

  <div>
    <div>
      <h3>Servicios</h3>
      <ul>
        {services.map((s) => <li>{s}</li>)}
      </ul>
    </div>

    <div>
      <h3>Legal</h3>
      <ul>
        {legal.map((l) => <li>{l}</li>)}
      </ul>
    </div>
  </div>
</footer>
