---
import Counter from "@components/ui/Counter.astro";
import PrimaryButton from "@components/ui/PrimaryButton.astro";
import { Icon } from "astro-icon/components";
---

<section>
  <Counter />

  <h1>
    Multiplica tus Pacientes en 90 Días con Marketing Médico Especializado
  </h1>
  <p>
    Ayudamos a especialistas de la salud a llenar sus agendas y posicionarse
    como autoridades digitales sin depender de la suerte.
  </p>

  <div>
    <!-- miniature vsl video -->
  </div>

  <PrimaryButton>
    <span>Registrarme</span>
    <Icon name="mdi:register" />
  </PrimaryButton>
</section>
