<header>
  <h2>Agenda tu evaluación gratuita</h2>

  <div>
    <div>
      <span>00</span>
      <span>Días</span>
    </div>
    <div>
      <span>00</span>
      <span>Horas</span>
    </div>
    <div>
      <span>00</span>
      <span>Minutos</span>
    </div>
    <div>
      <span>00</span>
      <span>Segundos</span>
    </div>
  </div>
</header>
